.form {
  display:flex;
  margin:5px;
  padding-bottom: 20px;
}

.first-section {
  flex-grow: 1;
  flex-basis: 0;
}
.row-form {
  padding: 10px 30px 5px 20px;;
}

.last-section {
  flex-grow: 1;
  flex-basis: 0;
  border-left: solid 1px #d3d3d3;
}
.file-label {
  width: 450px;
  margin: 0 auto;
}

.dropzone, .dropzoneSucces {
  width: 450px;
  height: 220px;
  padding: 15px !important;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
  margin: 0 auto;
}



#fileDropRef {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #38424c;
}

#fileLabel, #deleteFile {
  color: white;
  width: 183px;
  height: 44px;
  border-radius: 21.5px;
  background-color: #db202f;
  padding: 8px 16px;
  cursor: pointer;
}

.dropzone svg {
  margin-bottom: 10px;
}


.dropzoneSucces {
  background-color: #E4F4E4;
}

.dropzoneSucces svg {
  margin-top: 10px;
}

.dropzoneSucces svg,.dropzoneSucces h3 {
  margin-bottom: 20px;
}


.container-header {
  margin-left: 26px;
}

.container-header label:first-child {
  margin-right: 10px;
  font-size: 26px;
  font-weight: 700;
}

.container-header label:last-child {
  font-size: 18px;
  color: #464c4f;
}
